# 服务基础配置
FLASK_APP=reqman.app:create_app
FLASK_ENV=development
SERVER_HOST=127.0.0.1
SERVER_PORT=5001

# 文件路径配置
DB_FILE=./data/reqman_db.json
TEMPLATE_FILE=./assets/demand_template.xlsx
GENERATED_DIR=./output

# 业务枚举配置
CATEGORIES=发动机,机体,电子,特检,支援
TASK_TYPES=A,EO分段,DP项目,20MO,24MO
